<!DOCTYPE html>
<html>
    
    <head>
        <style>

        
        #outer { 
        position: absolute;
        top: 50%;
        width: 300px;
        height: 300px;
        left: 50%;
        margin: -150px 0px 0px -150px;
        }
        
        #inner {
            height: 300px;
            width: 300px;
            vertical-align: middle;
            text-align: center;
            
        }
        
        </style>
    </head>
    
    <body>
        <embed style="width: 0px; height:0px" src="https://youtu.be/Vix8LTSxseQ?autoplay=1"> </embed>
        
        <div id="outer">
            <div id="inner">
                <p>
                <a href="/success">GO BACK!</a>
                <br> <%= @set_3 %> 
                </p>
            </div>
        </div>
    
       
    </body>

    
</html>